#searchFieldImitator {
	-fx-background-color: white;
	-fx-effect: dropShadow(gaussian, #0000004d, 10, 0.3, 0, 0);
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-min-height: 35px;
	-fx-min-width: 220px;
}

#searchFieldImitatorLabel {
	-fx-padding: 9px 0 0 15px;
	-fx-text-fill: grey;
}

#routeButton {
	 -fx-background-color: #38B475;
	 -fx-min-height: 22px;
	 -fx-min-width: 22px;
	 -fx-max-height: 22px;
	 -fx-max-width: 22px;
	 -fx-shape: "M 21.398438 10.601563 L 13.398438 2.601563 C 12.601563 1.800781 11.398438 1.800781 10.601563 2.601563 L 2.601563 10.601563 C 1.800781 11.398438 1.800781 12.601563 2.601563 13.398438 L 10.601563 21.398438 C 11.398438 22.199219 12.601563 22.199219 13.398438 21.398438 L 21.398438 13.398438 C 22.199219 12.601563 22.199219 11.398438 21.398438 10.601563 Z M 14 14.5 L 14 12 L 10 12 L 10 15 L 8 15 L 8 12 C 8 10.898438 8.898438 10 10 10 L 14 10 L 14 7.5 L 17.5 11 Z";
 }

#routeButton:pressed {
	-fx-background-color: #2E8459;
}

#favoriteButton {
	-fx-background-color: #F5C723;
	-fx-min-height: 20px;
	-fx-min-width: 22px;
	-fx-max-height: 20px;
	-fx-max-width: 22px;
	-fx-shape: "M10.2,48.6c-0.2,0-0.4-0.1-0.6-0.2c-0.3-0.2-0.5-0.7-0.4-1.1l4.4-16.4L0.4,20.2C0,20-0.1,19.5,0,19.1 c0.1-0.4,0.5-0.7,0.9-0.7l17-0.9l6.1-15.9C24.2,1.3,24.6,1,25,1c0.4,0,0.8,0.3,0.9,0.6l6.1,15.9l17,0.9c0.4,0,0.8,0.3,0.9,0.7 c0.1,0.4,0,0.8-0.3,1.1L36.4,30.9l4.4,16.4c0.1,0.4,0,0.8-0.4,1.1c-0.3,0.2-0.8,0.3-1.1,0L25,39.2l-14.3,9.2 C10.5,48.6,10.4,48.6,10.2,48.6z";
}

#favoriteButton:pressed {
	-fx-background-color: #CAA521;
}

.defaultButton {
	-fx-text-fill: white;
	-fx-background-color: #38B475;
	-fx-effect: dropShadow(gaussian, #0000004d, 10, 0.3, 0, 0);
}

.defaultButton:pressed {
	-fx-background-color: #25774D;
}

#searchPane, #routePane {
	-fx-background-color: #2F9862;
}

.greenTextField {
	-fx-background-color: #38B475;
	-fx-text-fill: white;
	-fx-prompt-text-fill: #59FEAA;
}

* {
	-fx-focus-color: transparent;
}

/* Remove small boarder around ListView*/
ListView {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: 0, 1;
	-fx-padding: 1;
}

.list-cell {
	-fx-padding: 10;
}

.list-cell:selected {
	-fx-background-color: #38B475;
}

/* The main scrollbar CSS class of ListView */
ListView .scroll-bar:horizontal ,
ListView .scroll-bar:vertical{
	-fx-background-color:transparent;
}

/* The increment and decrement button CSS class of scrollbar */
ListView .increment-button , ListView .decrement-button {
	-fx-opacity: 0.0;
	-fx-padding: 0;
}

/* The main scrollbar **track** CSS class  */
ListView .scroll-bar:horizontal .track,
ListView .scroll-bar:vertical .track {
	-fx-background-color: #E2E2E2;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
ListView .scroll-bar:horizontal .thumb,
ListView .scroll-bar:vertical .thumb {
	-fx-background-color:derive(black,90%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
}

.closeButton {
	-fx-background-color: white;
	-size: 16px;
	-fx-min-height: -size;
	-fx-min-width: -size;
	-fx-max-height: -size;
	-fx-max-width: -size;
	-fx-shape: "M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z";
}

#routeCarToggleButton {
	-fx-content-display: graphic-only;
	-fx-background-color: #93E9BD;
	-fx-min-height: 17px;
	-fx-min-width: 19px;
	-fx-max-height: 17px;
	-fx-max-width: 19px;

	-fx-shape: "M 20.175781 4.367188 C 19.902344 3.550781 19.140625 3 18.277344 3 L 5.722656 3 C 4.859375 3 4.097656 3.550781 3.824219 4.367188 L 2 9.839844 L 2 20 C 2 20.550781 2.449219 21 3 21 L 5 21 C 5.550781 21 6 20.550781 6 20 L 6 18 L 18 18 L 18 20 C 18 20.550781 18.449219 21 19 21 L 21 21 C 21.550781 21 22 20.550781 22 20 L 22 9.839844 Z M 5.5 15 C 4.671875 15 4 14.328125 4 13.5 C 4 12.671875 4.671875 12 5.5 12 C 6.328125 12 7 12.671875 7 13.5 C 7 14.328125 6.328125 15 5.5 15 Z M 18.5 15 C 17.671875 15 17 14.328125 17 13.5 C 17 12.671875 17.671875 12 18.5 12 C 19.328125 12 20 12.671875 20 13.5 C 20 14.328125 19.328125 15 18.5 15 Z M 4.054688 10 L 5.722656 5 L 18.28125 5 L 19.945313 10 Z ";
}

#routeWalkToggleButton {
	 -fx-background-color: #93E9BD;
	 -fx-min-height: 21px;
	 -fx-min-width: 14px;
	 -fx-max-height: 21px;
	 -fx-max-width: 14px;
	 -fx-shape: "M 27.5 2 C 25.015625 2 23 4.015625 23 6.5 C 23 8.984375 25.015625 11 27.5 11 C 29.984375 11 32 8.984375 32 6.5 C 32 4.015625 29.984375 2 27.5 2 Z M 23.210938 13 C 22.332031 13 21.476563 13.289063 20.777344 13.824219 L 13.980469 18.28125 C 13.929688 18.3125 13.882813 18.34375 13.835938 18.375 L 13.824219 18.386719 C 13.519531 18.605469 13.285156 18.90625 13.144531 19.253906 L 13.136719 19.269531 L 10.3125 25.929688 C 10.109375 26.25 10 26.621094 10 27 C 10 28.105469 10.894531 29 12 29 C 12.910156 29 13.707031 28.378906 13.933594 27.5 L 16.480469 21.792969 L 21.042969 19.183594 C 20.386719 22.238281 19.15625 27.929688 19.15625 27.929688 L 19.15625 27.949219 C 19.066406 28.285156 19 28.632813 19 29 C 19 29.796875 19.238281 30.539063 19.640625 31.160156 L 19.644531 31.171875 L 19.65625 31.183594 C 19.886719 31.539063 20.183594 31.847656 20.515625 32.109375 L 25.113281 37.078125 L 27 45.542969 C 27.007813 45.878906 27.082031 46.207031 27.21875 46.515625 L 27.230469 46.5625 L 27.238281 46.558594 C 27.648438 47.4375 28.53125 48 29.5 48 C 30.878906 48 32 46.878906 32 45.5 C 32 45.105469 31.90625 44.714844 31.726563 44.363281 L 29.730469 35.351563 L 26 29.003906 L 28.855469 17.503906 C 28.855469 17.503906 28.855469 17.5 28.855469 17.5 C 28.949219 17.175781 29 16.839844 29 16.5 C 29 14.566406 27.433594 13 25.5 13 C 25.492188 13 25.484375 13 25.480469 13 C 25.476563 13 25.476563 13 25.472656 13 Z M 30.972656 16.828125 C 30.964844 16.984375 30.960938 17.136719 30.9375 17.285156 L 29.738281 22.167969 L 31.609375 24.238281 L 37.21875 25.84375 C 37.222656 25.84375 37.222656 25.84375 37.222656 25.84375 L 37.28125 25.863281 L 37.28125 25.859375 C 37.503906 25.949219 37.746094 26 38 26 C 39.105469 26 40 25.105469 40 24 C 40 23.125 39.433594 22.390625 38.65625 22.117188 L 38.65625 22.109375 L 33.667969 20.644531 Z M 18.441406 32.875 L 17.503906 37.578125 L 12.738281 43.722656 C 12.285156 44.175781 12 44.804688 12 45.5 C 12 46.882813 13.117188 48 14.5 48 C 15.417969 48 16.210938 47.5 16.644531 46.765625 L 16.65625 46.769531 L 21.625 40.292969 L 22.519531 36.941406 Z";
}

#routeBicycleToggleButton {
	-fx-background-color: #93E9BD;
	-fx-min-height: 20px;
	-fx-min-width: 22px;
	-fx-max-height: 20px;
	-fx-max-width: 22px;
	-fx-shape: "M19.0217391,0 C17.5208049,0 16.3043478,1.21645707 16.3043478,2.7173913 C16.3043478,4.21832554 17.5208049,5.43478261 19.0217391,5.43478261 C20.5226734,5.43478261 21.7391304,4.21832554 21.7391304,2.7173913 C21.7391304,1.21645707 20.5226734,0 19.0217391,0 Z M13.3152174,3.26086957 C12.8354283,3.26086957 12.3726223,3.44556739 12.0223337,3.77250326 L7.48131793,7.43248967 L7.48131793,7.4388587 C6.88051957,7.84222174 6.52173913,8.51732337 6.52173913,9.23913043 C6.52173913,9.99490489 6.91661033,10.6954826 7.55986739,11.0903533 L11.7527174,13.9436141 L10.8950408,19.0366 C10.8780571,19.1215185 10.8695652,19.206437 10.8695652,19.2934783 C10.8695652,20.0428837 11.4788554,20.6521739 12.2282609,20.6521739 C12.9500679,20.6521739 13.5444973,20.0874663 13.5848337,19.3677821 L14.6569293,13.2387908 L14.6569293,13.2366679 C14.667544,13.1729788 14.673913,13.1071674 14.673913,13.0434783 C14.673913,12.6846978 14.4955842,12.3471467 14.1983696,12.1454652 L14.1962467,12.1412196 L11.2771739,9.98641304 L14.2429516,7.36880109 L16.5039065,9.86965 L16.510275,9.8738962 C16.7140793,10.1583728 17.0410158,10.326087 17.3913043,10.326087 L21.4673913,10.326087 C22.2167967,10.326087 22.826087,9.71679674 22.826087,8.9673913 C22.826087,8.21798587 22.2167967,7.60869565 21.4673913,7.60869565 L17.9347826,7.60869565 L14.8947011,4.1058087 C14.5422897,3.57719076 13.9499832,3.26086957 13.3152174,3.26086957 Z M4.89130435,12.5 C2.19726576,12.5 0,14.6972658 0,17.3913043 C0,20.0853429 2.19726576,22.2826087 4.89130435,22.2826087 C7.58534293,22.2826087 9.7826087,20.0853429 9.7826087,17.3913043 C9.7826087,14.6972658 7.58534293,12.5 4.89130435,12.5 Z M20.1086957,12.5 C17.4146571,12.5 15.2173913,14.6972658 15.2173913,17.3913043 C15.2173913,20.0853429 17.4146571,22.2826087 20.1086957,22.2826087 C22.8027342,22.2826087 25,20.0853429 25,17.3913043 C25,14.6972658 22.8027342,12.5 20.1086957,12.5 Z";
}

#routeCarToggleButton:selected, #routeWalkToggleButton:selected, #routeBicycleToggleButton:selected {
	-fx-background-color: white;
}

.paneTitle {
	-fx-font-size: 20px;
	-fx-text-fill: white;
	-fx-padding: 15px 0 0 12px;
}
