/*-------------------------------------------- */
/* GENERAL
/*-------------------------------------------- */
* {
	-fx-focus-color: transparent;
}

/*-------------------------------------------- */
/* SEARCHFIELD (Imitator)
/*-------------------------------------------- */
#searchFieldImitator {
	-fx-background-color: white;
	-fx-effect: dropShadow(gaussian, #0000004d, 10, 0.3, 0, 0);
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-min-height: 35px;
	-fx-min-width: 220px;
}

#searchFieldImitatorLabel {
	-fx-padding: 9px 0 0 15px;
	-fx-text-fill: grey;
}

#routeButton {
	 -fx-background-color: #38B475;
	 -fx-min-height: 22px;
	 -fx-min-width: 22px;
	 -fx-max-height: 22px;
	 -fx-max-width: 22px;
	 -fx-shape: "M 21.398438 10.601563 L 13.398438 2.601563 C 12.601563 1.800781 11.398438 1.800781 10.601563 2.601563 L 2.601563 10.601563 C 1.800781 11.398438 1.800781 12.601563 2.601563 13.398438 L 10.601563 21.398438 C 11.398438 22.199219 12.601563 22.199219 13.398438 21.398438 L 21.398438 13.398438 C 22.199219 12.601563 22.199219 11.398438 21.398438 10.601563 Z M 14 14.5 L 14 12 L 10 12 L 10 15 L 8 15 L 8 12 C 8 10.898438 8.898438 10 10 10 L 14 10 L 14 7.5 L 17.5 11 Z";
 }

#routeButton:pressed {
	-fx-background-color: #2E8459;
}

#favoriteButton {
	-fx-background-color: #F5C723;
	-fx-min-height: 20px;
	-fx-min-width: 22px;
	-fx-max-height: 20px;
	-fx-max-width: 22px;
	-fx-shape: "M10.2,48.6c-0.2,0-0.4-0.1-0.6-0.2c-0.3-0.2-0.5-0.7-0.4-1.1l4.4-16.4L0.4,20.2C0,20-0.1,19.5,0,19.1 c0.1-0.4,0.5-0.7,0.9-0.7l17-0.9l6.1-15.9C24.2,1.3,24.6,1,25,1c0.4,0,0.8,0.3,0.9,0.6l6.1,15.9l17,0.9c0.4,0,0.8,0.3,0.9,0.7 c0.1,0.4,0,0.8-0.3,1.1L36.4,30.9l4.4,16.4c0.1,0.4,0,0.8-0.4,1.1c-0.3,0.2-0.8,0.3-1.1,0L25,39.2l-14.3,9.2 C10.5,48.6,10.4,48.6,10.2,48.6z";
}

#favoriteButton:pressed {
	-fx-background-color: #CAA521;
}

/*-------------------------------------------- */
/* SIDE PANES
/*-------------------------------------------- */
.closeButton {
	-fx-background-color: white;
	-size: 16px;
	-fx-min-height: -size;
	-fx-min-width: -size;
	-fx-max-height: -size;
	-fx-max-width: -size;
	-fx-shape: "M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z";
}

#searchPane, #routePane, #favoritePoiPane {
	-fx-background-color: #2F9862;
}

.greenTextField {
	-fx-background-color: #38B475;
	-fx-text-fill: white;
	-fx-prompt-text-fill: #59FEAA;
}

.paneTitle {
	-fx-font-size: 20px;
	-fx-text-fill: white;
	-fx-padding: 15px 0 0 12px;
}

/*-------------------------------------------- */
/* LIST
/*-------------------------------------------- */
/* Remove small boarder around ListView*/
ListView {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: 0, 1;
	-fx-padding: 1;
}

ListView {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

ListView:focused {
	-fx-background-insets: 0;
}

ListView .corner {
	-fx-background-insets: 0;
}

.list-cell {
	-fx-padding: 10;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #dbdbdb;
}

.list-cell:selected {
	-fx-background-color: rgba(45, 178, 76, 0.37);
}

/* The main scrollbar CSS class of ListView */
ListView .scroll-bar:horizontal ,
ListView .scroll-bar:vertical{
	-fx-background-color:transparent;
}

/* The increment and decrement button CSS class of scrollbar */
ListView .increment-button , ListView .decrement-button {
	-fx-opacity: 0.0;
	-fx-padding: 0;
}

/* The main scrollbar **track** CSS class  */
ListView .scroll-bar:horizontal .track,
ListView .scroll-bar:vertical .track {
	-fx-background-color: #E2E2E2;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
ListView .scroll-bar:horizontal .thumb,
ListView .scroll-bar:vertical .thumb {
	-fx-background-color:derive(black,90%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
}

/*-------------------------------------------- */
/* ACTION MENU
/*-------------------------------------------- */
#actionMenu {
	-fx-spacing: 10px;
	-fx-padding: 0px 0px 10px 12px;
}

.actionMenuButton {
	-fx-background-color: #38B475;
	-fx-text-fill: white;
}

.actionMenuButton:pressed {
	-fx-background-color: #2E8459;
}

/*-------------------------------------------- */
/* SCALABAR
/*-------------------------------------------- */
#scalaBarImagePane {
	-fx-background-image: url("../graphics/scalabar.png");
	-fx-background-size: 130 auto;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

/*-------------------------------------------- */
/* CURRENT HOVERED ROAD
/*-------------------------------------------- */

#currentHoveredRoadPane {
	-fx-background-color: rgba(255, 255, 255, 0.8);
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
}

